[Unit]
Description=Redfish Prometheus Exporter
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/redfish-exporter
ExecStart=/srv/redfish-exporter/.venv/bin/python redfish-exporter
Restart=on-failure
User=redfish
Group=redfish

[Install]
WantedBy=multi-user.target
